@import "tailwindcss";

@font-face {
  font-family: M5x7;
  src: url("src/assets/fonts/M5x7.ttf");
}

@theme {
  --font-family: M5x7, "sans-serif";
  --color-background: #ffffff;
  --color-foreground: #1a1a1a;
  --color-primary: #3f3cbb;
  --color-secondary: #78dcca;
  --color-accent: #3ab7bf;
}
